body {
	background-image: url(wallpaper.jpg);
}
table {
	margin-left: 35%;
	margin-right: 35%;
	border-style: double;
	border-width: 5px;
	border-color: red;
	padding: 15px;
}
th {
	border-style: double;
	border-width: 2px;
	border-color: red;
	font-style: italic;
}
td {
	border-style: dotted;
	border-width: 1px;
}
h2.titles {
	margin-left: 44%;
	margin-right: 44%;
	font-family: "arial", verdana, sans-serif;
}
h3.caption {
	text-align: center;
}
p#fun_facts {
	text-align: center;
}

h1#heading {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-size: 4em;
	color: red;
}
ul {
	text-align: center;
	list-style: none;
}
h1#roster {font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-shadow: 1px 1px 1px;
	margin-left: 42%;
}
footer {
	text-align: center;
}
section#captain {
	margin: auto;
	width: 30%;
}
section#coach {
	margin: auto;
	width: 30%;
}
img {
	max-width: 345px;
	max-height: 230px;
}